form input {
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background-color: #232b32 !important;
}
#login_container {
    padding-left: 0px;
    padding-right: 0px;
    color: rgba(255, 255, 255, 0.5);
}
#login_container > .container {
    max-width: 500px;
}
.jumbotron {
    min-height: 100vh;
    align-items: center;
    background: url("../../Assets/Login/Background_dark.jpg") center center fixed;
    background-size: cover;
}
.container {
    background-color: #232b32 !important;
}
.btn-success {
    opacity: 0.7;
}
